<div class="publisher-component-wrapper">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">New</li>
      <li class="breadcrumb-item active" aria-current="page">Publisher</li>
    </ol>
  </nav>

  <form [formGroup]="publisherForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>

    <div class="form-group">
      <label for="publisher-name">Name</label>
      <input type="text" class="form-control" id="publisher-name" aria-describedby="publisher-name-help" placeholder="Enter Publisher Name" formControlName="name">
      <small *ngIf="submitted && publisherForm.controls.name.errors" id="publisher-name-help" class="form-text text-muted">
        <div *ngIf="publisherForm.controls.name.errors.required" class="text-danger">Publisher name is required.</div>
      </small>
    </div>

    <div class="form-group">
      <label for="publisher-about">About</label>
      <input type="text" class="form-control" id="publisher-about" aria-describedby="publisher-about-help" placeholder="About Publisher" formControlName="about">
      <small *ngIf="submitted && publisherForm.controls.about.errors" id="publisher-about-help" class="form-text text-muted">
        <div *ngIf="publisherForm.controls.about.errors.required" class="text-danger">Please write something about publisher.</div>
      </small>
    </div>

    <button type="submit" class="btn btn-success">Add Publisher</button> <a class="redirect-link" routerLink="/newAuthor">looking to add author ?</a>

  </form>

  <div class="results">
  <pre *ngIf="publisherForm.get('name').valid">
    Name: {{ publisherForm.controls.name.value }}
  </pre>

    <pre *ngIf="publisherForm.get('about').valid">
    About: {{ publisherForm.controls.about.value }}
  </pre>
  </div>
</div>
